/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';

.logo-text {
    padding: 10px;
}
.pl-10 {
    padding-left: 10px;
}
.pr-10 {
    padding-right: 10px;
}
.p-10 {
    padding: 10px;
}

.ml-10 {
    margin-left: 10px;
}
.mr-10 {
    margin-right: 10px;
}
.m-10 {
    margin: 10px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

i.fa {
    padding-right: 5px;
}
